@page "/"
@layout MainLayout
@attribute [Authorize]

<h1>Welcome @CurrentUser.Username of Team @CurrentUser.Team</h1>


<span class="star"
        style="@($"color:{CurrentUser.Color}; text-shadow:0 0 5px {CurrentUser.ContrastColor};")">
        @(new string('✯', CurrentUser.Overall))
</span>

<p>Today is @DateTime.Today.ToLongDateString()</p>

<p>Click one of the buttons below to choose your deployment, solider!</p>

<RadzenButton Text="I want to Attack"
              Style="@ButtonStyle"
              Click="@ShowAttackChoices" />

<RadzenButton Text="I want to Defend"
              Style="@ButtonStyle"
              Click="@ShowDefendChoices" />

<RadzenButton Text="I want to manually pick my territory"
              Style="@ButtonStyle"
              Click="@ShowManualSelection" />

<RadzenButton Text="I don't care"
              Style="@ButtonStyle"
              Click="@ShowIndifferentChoices" />

@{
    var viewList = CurrentView switch
    {
        ViewMode.Defend => randomDefend,
        ViewMode.Attack => randomAttack,
        ViewMode.Manual => manual,
        ViewMode.Indifferent => randomIndifferent,
        _ => null
    };

    if (viewList != null)
    {
        @RenderTerritoryButtons(viewList);
    }
}
@code {
    [CascadingParameter]
    public CurrentUser CurrentUser { get; set; }

    private string ButtonStyle => $"background-color:{CurrentUser.Color}; color:{CurrentUser.ContrastColor}; border-radius:0;";

    [Parameter, SupplyParameterFromQuery]
    public string? edit { get; set; }

    private List<TerritoryOwnershipWithNeighbor> randomDefend = new();
    private List<TerritoryOwnershipWithNeighbor> randomAttack = new();
    private List<TerritoryOwnershipWithNeighbor> randomIndifferent = new();
    private List<TerritoryOwnershipWithNeighbor> manual = new();

    private enum ViewMode { None, Attack, Defend, Manual, Indifferent }
    private ViewMode CurrentView = ViewMode.None;
    private int turn_id;
    private int season;

    protected override async Task OnInitializedAsync()
    {
        season = CurrentUser.Season;
        turn_id = CurrentUser.Turn + 1;

        if (edit == "true") return;

        var existingOrder = UserOrderService.GetUserOrder(CurrentUser.Username, season, turn_id);

        if (existingOrder != null)
        {
            var territory = TerritoryService.GetTerritoryNameByTerritoryId(existingOrder.TerritoryId);

            Navigation.NavigateTo($"/confirmation/{territory}");

            return;
        }
    }

    private RenderFragment RenderTerritoryButtons(List<TerritoryOwnershipWithNeighbor> territoryList) => __builder =>
    {
        @foreach (var territory in territoryList)
        {
            <div style="margin-top:10px;">
                <RadzenButton Text="@territory.Name"
                                Style="@ButtonStyle"
                                Click="@(args => SubmitOrUpdateUserOrder(territory))" />
            </div>
        }
    };

    private async Task ShowDefendChoices()
    {
        var defendable = TerritoryService.GetDefendableTerritories(season, turn_id, CurrentUser.Team);

        randomDefend = defendable
            .OrderBy(_ => Guid.NewGuid())
            .Take(3)
            .ToList();

        CurrentView = ViewMode.Defend;
    }

    private async Task ShowAttackChoices()
    {
        var attackable = TerritoryService.GetAttackableTerritories(season, turn_id, CurrentUser.Team);

        randomAttack = attackable
            .OrderBy(_ => Guid.NewGuid())
            .Take(3)
            .ToList();

        CurrentView = ViewMode.Attack;
    }

    private async Task ShowIndifferentChoices()
    {
        var defendable = TerritoryService.GetDefendableTerritories(season, turn_id, CurrentUser.Team);
        var attackable = TerritoryService.GetAttackableTerritories(season, turn_id, CurrentUser.Team);

        var allOptions = defendable.Concat(attackable).ToList();

        randomIndifferent = allOptions
            .OrderBy(_ => Guid.NewGuid())
            .Take(3)
            .ToList();

        CurrentView = ViewMode.Indifferent;
    }

    private async Task ShowManualSelection()
    {
        var defendable = TerritoryService.GetDefendableTerritories(season, turn_id, CurrentUser.Team);
        var attackable = TerritoryService.GetAttackableTerritories(season, turn_id, CurrentUser.Team);

        manual = defendable.Concat(attackable)
            .OrderBy(t => t.Name) 
            .ToList();

        CurrentView = ViewMode.Manual;
    }

    private async Task SubmitOrUpdateUserOrder(TerritoryOwnershipWithNeighbor territory)
    {
        var existingOrder = UserOrderService.GetUserOrder(CurrentUser.Username, season, turn_id);

        if (existingOrder == null)
        {
            var userOrder = new UserOrder
            {
                Username = CurrentUser.Username,
                SeasonId = season,
                TurnId = turn_id,
                Team = CurrentUser.Team,
                TerritoryId = territory.TerritoryId,
                Starpower = CurrentUser.Overall,   
            };

            var result = UserOrderService.InsertUserOrder(userOrder);

            if (result.IsError)
            {
                Navigation.NavigateTo("/error");
                return;
            }

        }
        else
        {
            existingOrder.TerritoryId = territory.TerritoryId;

            var result = UserOrderService.UpdateUserOrder(existingOrder);

            if (result.IsError)
            {
                Navigation.NavigateTo("/error");
                return;
            }
        }

        Navigation.NavigateTo($"/confirmation/{territory.Name}");
    }
}
