@page "/"
@layout MainLayout
@inject ILogger<Index> _logger
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize]

<h1>Welcome @username</h1>

<span class="star"
    style="color:@color; text-shadow:0 0 5px @shadowColor;">
@(new string('✯', overall))
</span>


<p>Today is @DateTime.Today.ToLongDateString()</p>

<p>Click one of the buttons below to choose your deployment, solider!</p>

<RadzenButton Text="I want to Attack" 
              style="@( $"background-color:{color}; color:{textColor}; border-radius:0;" )" />

<RadzenButton Text="I want to Defend" 
              style="@( $"background-color:{color}; color:{textColor}; border-radius:0;" )" />

<RadzenButton Text="I want to manually pick my territory" 
              style="@( $"background-color:{color}; color:{textColor}; border-radius:0;" )" />

<RadzenButton Text="I don't care" 
              style="@( $"background-color:{color}; color:{textColor}; border-radius:0;" )" />


@code {
    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; } = default!;

    private string username;
    private string team;
    private string color;
    private int overall;

    private string textColor;
    private string shadowColor;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateTask;
        var user = authState.User;

        username = user.FindFirstValue("Username");
        team = user.FindFirstValue("CurrentTeam");
        overall = int.Parse(user.FindFirstValue("Overall"));
        color = user.FindFirstValue("Color");

        textColor = GetContrastColor(color);
        shadowColor = textColor == "white" ? "white" : "black";
    }

    private string GetContrastColor(string hexColor)
    {
        hexColor = hexColor.Replace("#", "");

        int r = Convert.ToInt32(hexColor.Substring(0, 2), 16);
        int g = Convert.ToInt32(hexColor.Substring(2, 2), 16);
        int b = Convert.ToInt32(hexColor.Substring(4, 2), 16);

        double luminance = (0.299 * r + 0.587 * g + 0.114 * b);

        return luminance > 150 ? "black" : "white";
    }

}
