@page "/"
@layout MainLayout
@attribute [Authorize]

<h1>Welcome @CurrentUser.Username of Team @CurrentUser.Team</h1>

<span class="star"
        style="@($"color:{CurrentUser.Color}; text-shadow:0 0 5px {CurrentUser.ContrastColor};")">
        @(new string('✯', CurrentUser.Overall))
</span>

<p>Today is @DateTime.Today.ToLongDateString()</p>

@if (ordersNotReady)
{
    <div style="margin-top:20px; padding:10px; color:red; font-weight:bold;">
        Sorry, orders don’t seem to be loaded yet. Please check back later.
    </div>
}
else
{
    <p>Click one of the buttons below to choose your deployment, solider!</p>

    <RadzenButton Text="I want to Attack"
                  Style="@ButtonStyle"
                  Click="@ShowAttackChoices" />

    <RadzenButton Text="I want to Defend"
                  Style="@ButtonStyle"
                  Click="@ShowDefendChoices" />

    <RadzenButton Text="I want to manually pick my territory"
                  Style="@ButtonStyle"
                  Click="@ShowManualSelection" />

    <RadzenButton Text="I don't care"
                  Style="@ButtonStyle"
                  Click="@ShowIndifferentChoices" />
}

@if (manualOptions?.Any() == true)
{
    @RenderManualButtons(manualOptions)
}
@if (orderOptions?.Any() == true)
{
    @RenderTerritoryButtons(orderOptions)
}


@code {
    [CascadingParameter]
    public CurrentUser CurrentUser { get; set; }

    private string ButtonStyle => $"background-color:{CurrentUser.Color}; color:{CurrentUser.ContrastColor}; border-radius:0;";

    [Parameter, SupplyParameterFromQuery]
    public string? edit { get; set; }

    private List<OrderAllocation> orderAllocations = new();
    private List<OrderAllocation> orderOptions = new();
    private List<TerritoryOwnershipWithNeighbor> manualOptions = new();
    private int turn_id;
    private int season;

    private bool ordersNotReady = false;

    protected override async Task OnInitializedAsync()
    {
        season = CurrentUser.Season;
        turn_id = CurrentUser.Turn + 1;

        if (edit == "true") return;

        var existingOrder = UserOrderService.GetUserOrder(CurrentUser.Username, season, turn_id);

        if (existingOrder != null)
        {
            var territory = TerritoryService.GetTerritoryNameByTerritoryId(existingOrder.TerritoryId);

            Navigation.NavigateTo($"/confirmation/{territory}");

            return;
        }

        orderAllocations = OrderAllocationService.GetAllOrderAllocations(TeamService.GetTeamIdByTeamName(CurrentUser.Team), season, turn_id);
        
        if (orderAllocations == null || !orderAllocations.Any())
        {
            ordersNotReady = true;
            return;
        }
    }

    private RenderFragment RenderTerritoryButtons(List<OrderAllocation> territoryList) => __builder =>
    {
        @foreach (var territory in territoryList)
        {
            <div style="margin-top:10px;">
                <RadzenButton Text="@territory.TerritoryName"
                                Style="@ButtonStyle"
                                Click="@(args => SubmitOrUpdateUserOrder(territory))" />
            </div>
        }
    };

    private RenderFragment RenderManualButtons(List<TerritoryOwnershipWithNeighbor> territoryList) => __builder =>
    {
        @foreach (var territory in territoryList)
        {
            <div style="margin-top:10px;">
                <RadzenButton Text="@territory.Name"
                                Style="@ButtonStyle"
                                Click="@(args => SubmitOrUpdateManualTerritory(territory))" />
            </div>
        }
    };

    private List<OrderAllocation> FilterUserOrders(List<OrderAllocation> allocations)
    {
        var notFull = allocations.Where(allocation => !allocation.IsTerritoryFull).ToList();

        var filtered = notFull.Any() ? notFull : allocations;

        filtered = filtered.OrderByDescending(allocation => allocation.Tier).ToList();

        return filtered.Take(3).ToList();
    }

    private async Task ShowDefendChoices()
    {
        orderOptions = FilterUserOrders(orderAllocations
            .Where(a => a.OwnerId == a.TeamId)
            .Where(a => a.StarpowerRemaining > 0)
            .ToList());

        manualOptions.Clear();
    }

    private async Task ShowAttackChoices()
    {
        orderOptions = FilterUserOrders(orderAllocations
            .Where(a => a.OwnerId != a.TeamId)
            .Where(a => a.StarpowerRemaining > 0)
            .ToList());

        manualOptions.Clear();
    }

    private async Task ShowIndifferentChoices()
    {
        orderOptions = FilterUserOrders(orderAllocations
            .Where(a => a.StarpowerRemaining > 0)
            .ToList());

        manualOptions.Clear();
    }

    private async Task ShowManualSelection()
    {
        var defendable = TerritoryService.GetDefendableTerritories(season, turn_id, CurrentUser.Team);
        var attackable = TerritoryService.GetAttackableTerritories(season, turn_id, CurrentUser.Team);

        manualOptions = defendable.Concat(attackable)
            .OrderBy(t => t.Name) 
            .ToList();

        orderOptions.Clear();
    }

    private async Task SubmitOrUpdateUserOrder(OrderAllocation territory)
    {
        var existingOrder = UserOrderService.GetUserOrder(CurrentUser.Username, season, turn_id);

        if (existingOrder == null)
        {
            var userOrder = new UserOrder
            {
                Username = CurrentUser.Username,
                SeasonId = season,
                TurnId = turn_id,
                Team = CurrentUser.Team,
                TerritoryId = territory.TerritoryId,
                Starpower = CurrentUser.Overall,   
            };

            var result = UserOrderService.InsertUserOrder(userOrder);

            if (result.IsError)
            {
                Navigation.NavigateTo("/error");
                return;
            }

        }
        else
        {
            existingOrder.TerritoryId = territory.TerritoryId;

            var result = UserOrderService.UpdateUserOrder(existingOrder);

            if (result.IsError)
            {
                Navigation.NavigateTo("/error");
                return;
            }
        }

        Navigation.NavigateTo($"/confirmation/{territory.TerritoryName}");
    }

    private async Task SubmitOrUpdateManualTerritory(TerritoryOwnershipWithNeighbor territory)
    {
        var existingOrder = UserOrderService.GetUserOrder(CurrentUser.Username, season, turn_id);

        if (existingOrder == null)
        {
            var userOrder = new UserOrder
            {
                Username = CurrentUser.Username,
                SeasonId = season,
                TurnId = turn_id,
                Team = CurrentUser.Team,
                TerritoryId = territory.TerritoryId,
                Starpower = CurrentUser.Overall
            };

            var result = UserOrderService.InsertUserOrder(userOrder);

            if (result.IsError)
            {
                Navigation.NavigateTo("/error");
                return;
            }
        }
        else
        {
            existingOrder.TerritoryId = territory.TerritoryId;

            var result = UserOrderService.UpdateUserOrder(existingOrder);

            if (result.IsError)
            {
                Navigation.NavigateTo("/error");
                return;
            }
        }

        Navigation.NavigateTo($"/confirmation/{territory.Name}");
    }
}
